/* Importamos fuentes desde google */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;500&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
        background-image: url(../../asset/login/bg3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }


.logo{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(152, 206, 84), rgb(217, 255, 172));
    box-shadow: 0 0 7px #000;

}

.container{
    display: flex;
    flex-direction: row;
}
nav a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: rgb(152, 206, 84);
    border: 4px rgb(152, 206, 84) solid;
    box-shadow: 0 0 7px #000;
    margin: 1rem;

    
}
nav a:hover{
    color: black;
}

span .btn_admin{
    display: flex;
    flex-direction: column;
    
}
.btn_admin a{
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(71, 121, 69);
    border: 6px rgb(71, 121, 69) solid;
    box-shadow: 0 0 7px #000;
    margin: 1rem;
    justify-content: center;

}
.btn_admin a:hover{
    color: #000;
}

.btn_logOut a{
    text-decoration: none;
    color: #000;
}



.informacion{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 2%;
    background-color: rgb(152,206,84); 
    box-shadow: 0 0 10px #000;
}
.infoRegistro{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-top: 35px;
    background-color:rgb(152,206,84);
    box-shadow: 0 0 10px #000;

}
.infoContacto{
    display: flex;
    justify-content: center;    
    margin-top: 2%;
    margin-top: 35px;
    background-color: rgb(152,206,84);
    box-shadow: 0 0 11px #000;
}

.infoNosotros:hover{
    color: white;
}
.fotoInfo{
    justify-content: center;
    box-shadow: 0 0 7px #000;
    transition: 300ms;
}

.fotoInfo:hover{
    transform: scale(1.15);
}

.parrafo{
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    
}
.parrafo:hover{
    color: white;
}

h4{
    margin-left: 2rem;
}

.filtros a{
    background-color: rgb(186, 231, 118);
    text-decoration: none;
    color: #000;
}
/* Establecemos el grid y sus elementos */
.imgContainer{
    width: 100%;
    margin-top: 20px;

    /* border: 1px solid black; */
    display: grid;
    justify-content: space-around;
    grid-template-columns:auto;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(1, 80%);
    grid-template-areas: 
    "imgCatalogo1 imgCatalogo2 imgCatalogo3 imgCatalogo4 imgCatalogo5"
    ;
}
.imgCatalogo1{
    grid-area: imgCatalogo1;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: 300ms;
}
.imgCatalogo2{
    grid-area: imgCatalogo2;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: 300ms;

}
.imgCatalogo3{
    grid-area: imgCatalogo3;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: 300ms;

}
.imgCatalogo4{
    grid-area: imgCatalogo4;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: 300ms;

}
.imgCatalogo5{
    grid-area: imgCatalogo5;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: 300ms;

}

.imgCatalogo1:hover{
    transform: scale(1.15);
}
.imgCatalogo2:hover{
    transform: scale(1.15);
}
.imgCatalogo3:hover{
    transform: scale(1.15);
}
.imgCatalogo4:hover{
    transform: scale(1.15);
}
.imgCatalogo5:hover{
    transform: scale(1.15);
}


.grid-container{
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid black; */
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(1, 400px);
    grid-template-areas: 
    "img-1 img-2 img-3 img-4"
    ;
}
.img-1{
    grid-area: img-1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: 300ms;

}
.img-2{
    grid-area: img-2;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: 300ms;


}
.img-3{
    grid-area: img-3;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: 300ms;


}
.img-4{
    grid-area: img-4;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    transition: 300ms;


}


.img-1:hover{
    transform: scale(1.15);
}
.img-2:hover{
    transform: scale(1.15);
}
.img-3:hover{
    transform: scale(1.15);
}
.img-4:hover{
    transform: scale(1.15);
}


.footer{
    margin-bottom: 0;
    background-color: rgb(64, 102, 64);
}


/* Ajustes en la página dependiendo la resolucion de la pantalla */



@media screen and (max-width:760px){
        .grid-container{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 400px);
            grid-template-areas: 
            "img-1 img-2"
            "img-3 img-4"
            ;
        }
    .img-1{
        grid-area: img-1;
        width: 300px;
        height: 300px;
    }
    .img-2{
        grid-area: img-2;
        width: 300px;
        height: 300px;
    }
    .img-3{
        grid-area: img-3;
        width: 300px;
        height: 300px;
    }
    .img-4{
        grid-area: img-4;
        width: 300px;
        height: 300px;
    }

    .imgContainer{
        width: 100%;
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(2, 50%);
        grid-template-areas: 
        "imgCatalogo1 imgCatalogo2 imgCatalogo3" 
        "imgCatalogo4 imgCatalogo5 imgCatalogo6"
        ;
    }
    .imgCatalogo1{
        grid-area: imgCatalogo1;
        margin-top: 10px;
        width: 80%;
        height: 80%;
    }
    .imgCatalogo2{
        grid-area: imgCatalogo2;
        margin-top: 10px;
        width: 80%;
        height: 80%;
    }
    .imgCatalogo3{
        grid-area: imgCatalogo3;
        margin-top: 10px;
        width: 80%;
        height: 80%;
    }
    .imgCatalogo4{
        grid-area: imgCatalogo4;
        margin-top: 10px;
        width: 80%;
        height: 80%;
    }
    .imgCatalogo5{
        grid-area: imgCatalogo5;
        margin-top: 10px;
        width: 80%;
        height: 80%;
    }
}



@media screen and (max-width:620px){
    .grid-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 400px);
        grid-template-areas: 
        "img-1 img-2"
        "img-3 img-4"
        ;
    }
.img-1{
    grid-area: img-1;
    width: 200px;
    height: 200px;
}
.img-2{
    grid-area: img-2;
    width: 200px;
    height: 200px;
}
.img-3{
    grid-area: img-3;
    width: 200px;
    height: 200px;
}
.img-4{
    grid-area: img-4;
    width: 200px;
    height: 200px;
}

.imgContainer{
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: 
    "imgCatalogo1 imgCatalogo2 imgCatalogo3" 
    "imgCatalogo4 imgCatalogo5 imgCatalogo6"
    ;
}
.imgCatalogo1{
    grid-area: imgCatalogo1;
    margin-top: 10px;
    width: 80%;
    height: 80%;
}
.imgCatalogo2{
    grid-area: imgCatalogo2;
    margin-top: 10px;
    width: 80%;
    height: 80%;
}
.imgCatalogo3{
    grid-area: imgCatalogo3;
    margin-top: 10px;
    width: 80%;
    height: 80%;
}
.imgCatalogo4{
    grid-area: imgCatalogo4;
    margin-top: 10px;
    width: 80%;
    height: 80%;
}
.imgCatalogo5{
    grid-area: imgCatalogo5;
    margin-top: 10px;
    width: 80%;
    height: 80%;
}
}
@media screen and (max-width:450px) {
    .fotoInfo{
        width: 350px;
        height: 153px;
    }
}
@media screen and (max-width:350px) {
    .fotoInfo{
        width: 250px;
        height: 90px;
    }
}

@media screen and (max-width:400px){
    .grid-container{
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 60%);
        grid-template-rows: repeat(4, 400px);
        grid-template-areas: 
        "img-1" 
        "img-2"
        "img-3" 
        "img-4"
        ;
    }
.img-1{
    grid-area: img-1;
    width: 200px;
    height: 200px;
}
.img-2{
    grid-area: img-2;
    width: 200px;
    height: 200px;
}
.img-3{
    grid-area: img-3;
    width: 200px;
    height: 200px;
}
.img-4{
    grid-area: img-4;
    width: 200px;
    height: 200px;
}

.imgContainer{
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(5, 20%);
    grid-template-areas: 
    "imgCatalogo1" 
    "imgCatalogo2" 
    "imgCatalogo3" 
    "imgCatalogo4"
    "imgCatalogo5"
    "imgCatalogo6"
    ;
}
.imgCatalogo1{
    grid-area: imgCatalogo1;
    margin-top: 10px;
    width: 65%;
    height: 65%;
}
.imgCatalogo2{
    grid-area: imgCatalogo2;
    margin-top: 10px;
    width: 65%;
    height: 65%;
}
.imgCatalogo3{
    grid-area: imgCatalogo3;
    margin-top: 10px;
    width: 65%;
    height: 65%;
}
.imgCatalogo4{
    grid-area: imgCatalogo4;
    margin-top: 10px;
    width: 65%;
    height: 65%;
}
.imgCatalogo5{
    grid-area: imgCatalogo5;
    margin-top: 10px;
    width: 65%;
    height: 65%;
}
}

@media screen and (max-width:280px){
    .grid-container{
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 60%);
        grid-template-rows: repeat(4, 400px);
        grid-template-areas: 
        "img-1" 
        "img-2"
        "img-3" 
        "img-4"
        ;
    }
.img-1{
    grid-area: img-1;
    width: 150px;
    height: 150px;
}
.img-2{
    grid-area: img-2;
    width: 150px;
    height: 150px;
}
.img-3{
    grid-area: img-3;
    width: 150px;
    height: 150px;
}
.img-4{
    grid-area: img-4;
    width: 150px;
    height: 150px;
}

.imgContainer{
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(5, 20%);
    grid-template-areas: 
    "imgCatalogo1" 
    "imgCatalogo2" 
    "imgCatalogo3" 
    "imgCatalogo4"
    "imgCatalogo5"
    "imgCatalogo6"
    ;
}
.imgCatalogo1{
    grid-area: imgCatalogo1;
    margin-top: 10px;
    width: 55%;
    height: 55%;
}
.imgCatalogo2{
    grid-area: imgCatalogo2;
    margin-top: 10px;
    width: 55%;
    height: 55%;
}
.imgCatalogo3{
    grid-area: imgCatalogo3;
    margin-top: 10px;
    width: 55%;
    height: 55%;
}
.imgCatalogo4{
    grid-area: imgCatalogo4;
    margin-top: 10px;
    width: 55%;
    height: 55%;
}
.imgCatalogo5{
    grid-area: imgCatalogo5;
    margin-top: 10px;
    width: 55%;
    height: 55%;
}
}
